- provide(:title, "#{t('common.title')} | #{@food_item.name}") 

.row.food-item
  .medium-6.columns
    %h1
      = @food_item.name
      %span.brand
        = @food_item.brand if @food_item.brand

    %table
      %tr
        %th
          = t('food_item.quantity')
        %td
          = @food_item.nutritional_value.quantity
          = @food_item.nutritional_value.unit
      %tr
        %th
          = t('food_item.calories')
        %td= @food_item.nutritional_value.calories
      %tr
        %th
          = t('food_item.proteins')
        %td= @food_item.nutritional_value.proteins
      %tr
        %th
          = t('food_item.fats')
        %td= @food_item.nutritional_value.fats
      %tr
        %th
          = t('food_item.carbs')
        %td= @food_item.nutritional_value.carbs

  .medium-6.columns
    %img{src: @food_item.image.url(:medium), alt: @food_item.name}