!!!
%html{:lang => I18n.locale}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "foundation-rails"
    = stylesheet_link_tag "application", "data-turbolinks-track" => true
    = javascript_include_tag "vendor/modernizr"
    = javascript_include_tag "application", params[:controller], "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    = render partial: "layouts/navbar"
    .row.text-center
      - flash.each do |name, msg|
        = content_tag :div, msg, class: "alert-box #{name} radius"

    = yield
